.user-avatar[b-y06yuv16p9] {
    width: 10rem;
    height: 10rem;
    display: flex;
    border: 0.0625rem solid var(--DS-color-border-neutral-default-rest);
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.small-size .user-avatar[b-y06yuv16p9] {
    width: 8.75rem;
    height: 8.75rem;
}

.medium-size .user-avatar[b-y06yuv16p9] {
    width: 10rem;
    height: 10rem;
}

.large-size .user-avatar[b-y06yuv16p9] {
    width: 11.25rem;
    height: 11.25rem;
}

.user-avatar img[b-y06yuv16p9] {
    max-width: 100%;
}

[b-y06yuv16p9] .label-icon {
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    display: block;
    mask-repeat: no-repeat;
    mask-position: center center;
    background-color: currentColor;
}

[b-y06yuv16p9] .edit-icon {
    mask-image: url("images/icons/edit.svg");
}

[b-y06yuv16p9] .contact-item {
    height: 2em;
    display: flex;
    align-items: center;
    width: 100%;
}

[b-y06yuv16p9] .caption {
    font-weight: 600;
}

a[b-y06yuv16p9] {
    color: var(--DS-color-content-primary-default-rest);
    text-decoration: underline;
}

[b-y06yuv16p9] .w-100 {
    width: 100%;
}

.separator[b-y06yuv16p9] {
    margin: 0;
    color: inherit;
    border: 0;
    border-top: var(--DS-sizing-10) solid;
    opacity: var(--DS-opacity-25);
}

[b-y06yuv16p9] .text-danger {
    color: var(--DS-color-surface-danger-default-rest);
}
