.small-size .contact-data[b-pghjojsue4] {
    --accordion-item-margin-top: 0.5rem;
}

.medium-size .contact-data[b-pghjojsue4] {
    --accordion-item-margin-top: 0.75rem;
}

.large-size .contact-data[b-pghjojsue4] {
    --accordion-item-margin-top: 1rem;
}

[b-pghjojsue4] .opportunity {
    box-shadow: 0 0.125rem 0.25rem 0 #00000024, 0 0 0.125rem 0 #0000001F;
    border-radius: 0.25rem;
    padding: 0.5em 1em;
}

    .opportunity .title[b-pghjojsue4] {
        font-weight: 600;
    }

[b-pghjojsue4] .list-box {
    --dxbl-list-box-border-width: 0;
    --dxbl-list-box-item-padding-x: 0;
    flex-shrink: 0;
    height: unset;
}

[b-pghjojsue4] .accordion-item {
    margin-top: var(--accordion-item-margin-top);
}

[b-pghjojsue4] .activity {
    font-family: var(--DS-font-family-sans-serif);
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border-left: 0.25rem solid var(--DS-primary-90);
    box-shadow: 0 0.125rem 0.25rem 0 #00000024, 0 0 0.125rem 0 #0000001F;
}

[b-pghjojsue4] .name {
    overflow: hidden;
    text-overflow: ellipsis;
}

[b-pghjojsue4] .info {
    opacity: 0.7;
}

[b-pghjojsue4] .grid-item {
    display: flex;
    align-items: center;
}
