.status[b-d0f7sk0xgk] {
    font-size: 0.9em;
    margin-left: 1em;
}

    .status[b-d0f7sk0xgk]::before {
        content: " ";
        display: inline-block;
        width: 0.6em;
        height: 0.6em;
        margin-right: 0.3rem;
        border-radius: 50%;
        background-color: currentColor;
    }

.status.status-salaried[b-d0f7sk0xgk] {
    color: var(--DS-color-content-success-default-rest);
}

.status.status-commission[b-d0f7sk0xgk] {
    color: var(--DS-color-content-info-default-rest);
}

.status.status-terminated[b-d0f7sk0xgk] {
    color: var(--DS-color-content-danger-default-rest);
}

.status.status-inprogress[b-d0f7sk0xgk] {
    color: var(--DS-color-content-warning-default-rest);
}

tr.dxbl-grid-focused-row .status[b-d0f7sk0xgk] {
    color: inherit !important;
}
