[b-a1jvfjo6wq] .scheduler {
    --dxbl-scheduler-border-radius: 0.25rem;
    width: 100%;
    max-height: 100%;
}

[b-a1jvfjo6wq] .resource-0-bg {
    background-color: var(--DS-color-surface-utility-cyan-subdued-rest);
    border-color: var(--DS-color-surface-utility-cyan-subdued-rest);
    color: var(--DS-color-content-neutral-default-rest);
}

[b-a1jvfjo6wq] .resource-1-bg {
    background-color: var(--DS-color-surface-utility-green-subdued-rest);
    border-color: var(--DS-color-surface-utility-green-subdued-rest);
    color: var(--DS-color-content-neutral-default-rest);
}

[b-a1jvfjo6wq] .resource-2-bg {
    background-color: var(--DS-color-surface-utility-red-subdued-rest);
    border-color: var(--DS-color-surface-utility-red-subdued-rest);
    color: var(--DS-color-content-neutral-default-rest);
}

[b-a1jvfjo6wq] .resource-3-bg {
    background-color: var(--DS-color-surface-utility-yellow-subdued-rest);
    border-color: var(--DS-color-surface-utility-yellow-subdued-rest);
    color: var(--DS-color-content-neutral-default-rest);
}

[b-a1jvfjo6wq] .resource-4-bg {
    background-color: var(--DS-color-surface-utility-purple-subdued-rest);
    border-color: var(--DS-color-surface-utility-purple-subdued-rest);
    color: var(--DS-color-content-neutral-default-rest);
}

[b-a1jvfjo6wq] .resource-0-text {
    color: var(--DS-color-content-neutral-default-rest);
}

[b-a1jvfjo6wq] .resource-1-text {
    color: var(--DS-color-content-neutral-default-rest);
}

[b-a1jvfjo6wq] .resource-2-text {
    color: var(--DS-color-content-neutral-default-rest);
}

[b-a1jvfjo6wq] .resource-3-text {
    color: var(--DS-color-content-neutral-default-rest);
}

[b-a1jvfjo6wq] .resource-4-text {
    color: var(--DS-color-content-neutral-default-rest);
}

.h-100[b-a1jvfjo6wq] {
    height: 100%;
}
