.main-content[b-youi15o0bg] {
    display: flex;
    height: 100%;
}

.block-content[b-youi15o0bg] {
    border-radius: 0.5rem;
    flex-grow: 0;
    margin: auto;
    padding: 1.5rem;
    width: auto;
}

.title[b-youi15o0bg] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.625rem;
    color: var(--DS-color-content-neutral-default-rest);
}

    .title .title-header-text[b-youi15o0bg] {
        font-family: var(--DS-font-family-title-2);
        font-size: var(--DS-font-size-title-2);
        font-weight: var(--DS-font-weight-title-2);
        line-height: var(--DS-line-height-title-2);
        letter-spacing: var(--DS-letter-spacing-title-2);
    }

.card[b-youi15o0bg] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow-wrap: break-word;
    background-color: var(--DS-color-surface-neutral-default-rest);
    background-clip: border-box;
    border: var(--DS-border-radius-10) solid var(--DS-color-border-neutral-default-rest);
    border-radius: 0.25rem;
}
