.small-size .group-header {
    font-size: var(--DS-font-size-body-1-strong);
    font-weight: var(--DS-font-weight-body-1-strong);
    line-height: var(--DS-line-height-body-1-strong);
}

.medium-size .group-header {
    font-size: var(--DS-font-size-subtitle-2);
    font-weight: var(--DS-font-weight-subtitle-2);
    line-height: var(--DS-line-height-subtitle-2);
}

.large-size .group-header {
    font-size: var(--DS-font-size-subtitle-1);
    font-weight: var(--DS-font-weight-subtitle-1);
    line-height: var(--DS-line-height-subtitle-1);
}

.opportunity {
    font-family: var(--DS-font-family-sans-serif);
    border-radius: 0.25rem;
    padding: 1rem;
}

    .opportunity.active {
        box-shadow: 0 0.125rem 0.25rem 0 #00000024, 0 0 0.125rem 0 #0000001F;
    }

    .opportunity.closed {
        background-color: var(--DS-color-surface-neutral-subdued-rest);
    }

    .opportunity .opportunity-body {
        cursor: pointer;
    }

        .opportunity .opportunity-body .name {
            align-self: start;
        }

    .opportunity .product-info {
        align-self: start;
        margin-bottom: 1rem;
    }

    .opportunity .owner {
        align-self: end;
    }

.small-size .opportunity .opportunity-body {
    font-size: var(--DS-font-size-caption-1);
    font-weight: var(--DS-font-weight-caption-1);
    line-height: var(--DS-line-height-caption-1);
}

.medium-size .opportunity .opportunity-body {
    font-size: var(--DS-font-size-body-1);
    font-weight: var(--DS-font-weight-body-1);
    line-height: var(--DS-line-height-body-1);
}

.large-size .opportunity .opportunity-body {
    font-size: var(--DS-font-size-body-2);
    font-weight: var(--DS-font-weight-body-2);
    line-height: var(--DS-line-height-body-2);
}

.small-size .opportunity .opportunity-body .name {
    font-size: var(--DS-font-size-caption-1-strong);
    font-weight: var(--DS-font-weight-caption-1-strong);
    line-height: var(--DS-line-height-caption-1-strong);
    margin-bottom: 0.125rem;
}

.medium-size .opportunity .opportunity-body .name {
    font-size: var(--DS-font-size-body-1-strong);
    font-weight: var(--DS-font-weight-body-1-strong);
    line-height: var(--DS-line-height-body-1-strong);
    margin-bottom: 0.25rem;
}

.large-size .opportunity .opportunity-body .name {
    font-size: var(--DS-font-size-subtitle-2);
    font-weight: var(--DS-font-weight-subtitle-2);
    line-height: var(--DS-line-height-subtitle-2);
    margin-bottom: 0.375rem;
}

::deep .h-100 {
    height: 100%;
}
