.main-content[b-ewwmf498sf] {
    display: flex;
    height: 100%;
}

.block-content[b-ewwmf498sf] {
    border-radius: 0.5rem;
    flex-grow: 0;
    margin: auto;
    max-width: 30rem;
    padding: 1.5rem;
    width: auto;
}

.title[b-ewwmf498sf] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 0.625rem;
}

    .title .title-header-text[b-ewwmf498sf] {
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 600;
        letter-spacing: 0;
    }

    .title .title-content-text[b-ewwmf498sf] {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 400;
        letter-spacing: 0;
    }

.card[b-ewwmf498sf] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow-wrap: break-word;
    background-color: var(--DS-color-surface-neutral-default-rest);
    background-clip: border-box;
    border: var(--DS-border-radius-10) solid var(--DS-color-border-neutral-default-rest);
    border-radius: 0.25rem;
}

[b-ewwmf498sf] .w-100 {
    width: 100%;
}

[b-ewwmf498sf] .text-danger {
    color: var(--DS-color-surface-danger-default-rest);
}
