.main-content[b-1l87w89vgy] {
    display: flex;
    height: 100%;
}

.block-content[b-1l87w89vgy] {
    border-radius: 0.5rem;
    flex-grow: 0;
    margin: auto;
    max-width: 30rem;
    padding: 1.5rem;
    width: auto;
}

.title[b-1l87w89vgy] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.625rem;
    color: var(--DS-color-content-neutral-default-rest);
}

    .title .title-header-text[b-1l87w89vgy] {
        font-family: var(--DS-font-family-title-2);
        font-size: var(--DS-font-size-title-2);
        font-weight: var(--DS-font-weight-title-2);
        line-height: var(--DS-line-height-title-2);
        letter-spacing: var(--DS-letter-spacing-title-2);
    }

    .title .title-content-text[b-1l87w89vgy] {
        font-family: var(--DS-font-family-body-2);
        font-size: var(--DS-font-size-body-2);
        font-weight: var(--DS-font-weight-body-2);
        line-height: var(--DS-line-height-body-2);
        letter-spacing: var(--DS-letter-spacing-body-2);
    }

[b-1l87w89vgy] a {
    color: var(--DS-color-content-primary-default-rest);
    text-decoration: underline;
}
