/* /Components/Analytics/Pages/Dashboard.razor.rz.scp.css */
.content-root[b-gjnic4dsaq] {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.toolbar[b-gjnic4dsaq] {
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
}

.dashboard[b-gjnic4dsaq] {
    flex-grow: 1;
}

.placeholder[b-gjnic4dsaq] {
    height: 100%;
}

[b-gjnic4dsaq] .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow-wrap: break-word;
    background-color: var(--DS-color-surface-neutral-default-rest);
    background-clip: border-box;
    border: var(--DS-border-radius-10) solid var(--DS-color-border-neutral-default-rest);
    border-radius: 0.25rem;
}

    [b-gjnic4dsaq] .card:not(.toolbar) {
        padding: 1rem;
    }

.title[b-gjnic4dsaq] {
    font-family: var(--DS-font-family-sans-serif);
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1rem;
}

.small-size .title[b-gjnic4dsaq] {
    font-size: var(--DS-font-size-body-1-strong);
    font-weight: var(--DS-font-weight-body-1-strong);
    line-height: var(--DS-line-height-body-1-strong);
}

.medium-size .title[b-gjnic4dsaq] {
    font-size: var(--DS-font-size-subtitle-2);
    font-weight: var(--DS-font-weight-subtitle-2);
    line-height: var(--DS-line-height-subtitle-2);
}

.large-size .title[b-gjnic4dsaq] {
    font-size: var(--DS-font-size-subtitle-1);
    font-weight: var(--DS-font-weight-subtitle-1);
    line-height: var(--DS-line-height-subtitle-1);
}

[b-gjnic4dsaq] .data-area-icon {
    mask-image: url("images/icons/data-area.svg");
}

[b-gjnic4dsaq] .data-pie-icon {
    mask-image: url("images/icons/data-pie.svg");
}

[b-gjnic4dsaq] .data-trending-icon {
    mask-image: url("images/icons/data-trending.svg");
}

[b-gjnic4dsaq] .data-usage-icon {
    mask-image: url("images/icons/data-usage.svg");
}

[b-gjnic4dsaq] .add-icon {
    mask-image: url("images/icons/add.svg");
}

[b-gjnic4dsaq] .export-icon {
    mask-image: url("images/icons/arrow-export-up.svg");
}
/* /Components/Analytics/Pages/SalesReport.razor.rz.scp.css */
.content-root[b-fij2niof9a] {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.toolbar[b-fij2niof9a] {
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
}

.sales-report[b-fij2niof9a] {
    flex-grow: 1;
}

.placeholder[b-fij2niof9a] {
    height: 100%;
}

[b-fij2niof9a] .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow-wrap: break-word;
    background-color: var(--DS-color-surface-neutral-default-rest);
    background-clip: border-box;
    border: var(--DS-border-radius-10) solid var(--DS-color-border-neutral-default-rest);
    border-radius: 0.25rem;
}

    [b-fij2niof9a] .card:not(.toolbar) {
        padding: 1rem;
    }

[b-fij2niof9a] .add-icon {
    mask-image: url("images/icons/add.svg");
}

[b-fij2niof9a] .export-icon {
    mask-image: url("images/icons/arrow-export-up.svg");
}

.chart-tooltip[b-fij2niof9a] {
    padding: 0.5rem;
}
/* /Components/Analytics/Shared/Dashboard/Ticker.razor.rz.scp.css */
.ticker[b-rzl59r45ag] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    height: auto;
    position: relative;
    min-width: 0;
    overflow-wrap: break-word;
    background-color: var(--DS-color-surface-neutral-default-rest);
    background-clip: border-box;
    border: var(--DS-border-radius-10) solid var(--DS-color-border-neutral-default-rest);
    border-radius: 0.25rem;
}

    .ticker .icon-wrapper[b-rzl59r45ag] {
        border-radius: 50%;
        display: flex;
        flex: 0 0 3rem;
        height: 3rem;
        justify-content: center;
        align-items: center;
    }

    .ticker .tone-bg[b-rzl59r45ag] {
        background-color: color-mix(in sRGB, currentColor 12%, transparent);
    }

    .ticker .negative[b-rzl59r45ag] {
        color: var(--DS-color-content-danger-default-rest);
    }

    .ticker .positive[b-rzl59r45ag] {
        color: var(--DS-color-content-success-default-rest);
    }

    .ticker .middle[b-rzl59r45ag] {
        flex: 1 1;
    }

    .ticker .title[b-rzl59r45ag] {
        font-size: 0.9rem;
        line-height: 1.2rem;
        margin-bottom: 0.5rem;
    }

    .ticker .total[b-rzl59r45ag] {
        display: inline-block;
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-weight: 600;
    }

    .ticker .percentage[b-rzl59r45ag] {
        align-items: center;
        align-self: flex-start;
        border-radius: 999px;
        display: flex;
        font-size: 0.8rem;
        font-weight: 600;
        line-height: 1.2rem;
        padding: 0.25rem 0.5rem 0.25rem 0.125rem;
    }

        .ticker .percentage .icon[b-rzl59r45ag] {
            margin: 0.4rem;
        }

.chevron-up-icon[b-rzl59r45ag] {
    mask-image: url("images/icons/chevron-up.svg");
}

.chevron-down-icon[b-rzl59r45ag] {
    mask-image: url("images/icons/chevron-down.svg");
}
/* /Components/CRM/Pages/ContactDetails.razor.rz.scp.css */
.content-root[b-qc9da2y0j3] {
    height: 100%;
    display: flex;
    flex-direction: column;
}
    .content-root .contact-details[b-qc9da2y0j3] {
        flex-grow: 1;
    }

.toolbar[b-qc9da2y0j3] {
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
}

    .toolbar .title[b-qc9da2y0j3] {
        font-size: var(--dxbl-toolbar-title-font-size);
        line-height: var(--dxbl-toolbar-title-line-height);
        font-weight: var(--dxbl-toolbar-title-font-weight);
        margin: auto 0;
    }

    .toolbar .custom-item[b-qc9da2y0j3] {
        display: flex;
        height: 100%;
        margin: 0 0.5rem;
    }

[b-qc9da2y0j3] .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow-wrap: break-word;
    background-color: var(--DS-color-surface-neutral-default-rest);
    background-clip: border-box;
    border: var(--DS-border-radius-10) solid var(--DS-color-border-neutral-default-rest);
    border-radius: 0.25rem;
}

[b-qc9da2y0j3] .card:not(.toolbar) {
    padding: 1.5rem;
}

[b-qc9da2y0j3] .tabs {
    padding-top: 0.5rem !important;
    height: 100%;
}

[b-qc9da2y0j3] .tab-page {
    margin-bottom: 0.625rem;
}

[b-qc9da2y0j3] .h-100 {
    height: 100%;
}
/* /Components/CRM/Pages/ContactList.razor.rz.scp.css */
.content-root[b-gjjo8f7g0k] {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.toolbar[b-gjjo8f7g0k] {
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
}

    .toolbar .custom-item[b-gjjo8f7g0k] {
        display: flex;
        align-items: center;
        margin: 0 0.5rem;
    }

.contact-list-root[b-gjjo8f7g0k] {
    flex-grow: 1;
    height: 90%;
}

.card[b-gjjo8f7g0k] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow-wrap: break-word;
    background-color: var(--DS-color-surface-neutral-default-rest);
    background-clip: border-box;
    border: var(--DS-border-radius-10) solid var(--DS-color-border-neutral-default-rest);
    border-radius: 0.25rem;
}

[b-gjjo8f7g0k] .w-100 {
    width: 100%;
}

.h-100[b-gjjo8f7g0k] {
    height: 100%;
}

[b-gjjo8f7g0k] .contact-list {
    max-height: 100%;
    border-radius: 0.25rem;
}

[b-gjjo8f7g0k] .add-icon {
    mask-image: url("images/icons/add.svg");
}

[b-gjjo8f7g0k] .column-chooser-icon {
    mask-image: url("images/icons/column-chooser.svg");
}

[b-gjjo8f7g0k] .export-icon {
    mask-image: url("images/icons/arrow-export-up.svg");
}

[b-gjjo8f7g0k] .search-textbox-item {
    max-width: 12.5rem;
}

[b-gjjo8f7g0k] .pinned-icon {
    mask-image: url("images/icons/lock-closed.svg");
}

[b-gjjo8f7g0k] .unpinned-icon {
    mask-image: url("images/icons/lock-open.svg");
}

[b-gjjo8f7g0k] .close-icon {
    mask-image: url("images/icons/dismiss.svg");
}

[b-gjjo8f7g0k] .standalone-btn {
    --dxbl-btn-padding-x: 0.5em;
}

[b-gjjo8f7g0k] .contact-list-drawer {
    --dxbl-drawer-panel-body-padding-x: 1.5rem;
    --dxbl-drawer-panel-header-padding-x: 1.5rem;
    --dxbl-drawer-separator-border-style: none;
}

.contact-details-header[b-gjjo8f7g0k] {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
}

.contact-details-body[b-gjjo8f7g0k] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-size .contact-details[b-gjjo8f7g0k] {
    width: 17.25rem;
}

.medium-size .contact-details[b-gjjo8f7g0k] {
    width: 20.625rem;
}

.large-size .contact-details[b-gjjo8f7g0k] {
    width: 24rem;
}

.sub-item[b-gjjo8f7g0k] {
    font-size: 0.8em;
}
/* /Components/CRM/Shared/ContactDetails/Activities.razor.rz.scp.css */
[b-5fn5p8sy84] .activities {
    --dxbl-list-box-border-width: 0;
    width: 100%;
    height: 100%;
}

[b-5fn5p8sy84] .activity {
    font-family: var(--DS-font-family-sans-serif);
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border-left: 0.25rem solid var(--DS-primary-90);
    box-shadow: 0 0.125rem 0.25rem 0 #00000024, 0 0 0.125rem 0 #0000001F;
}

[b-5fn5p8sy84] .name {
    overflow: hidden;
    text-overflow: ellipsis;
}

[b-5fn5p8sy84] .info {
    opacity: 0.8;
}

[b-5fn5p8sy84] .grid-item {
    display: flex;
    align-items: center;
}

.w-100[b-5fn5p8sy84] {
    width: 100%;
}

.h-100[b-5fn5p8sy84] {
    height: 100%;
}
/* /Components/CRM/Shared/ContactDetails/ContactForm.razor.rz.scp.css */
.small-size .contact-form[b-c7b2clvh54] {
    --contacts-caption-font-size: var(--DS-font-size-body-1-strong);
    --contacts-caption-font-weight: var(--DS-font-weight-body-1-strong);
    --contacts-caption-line-height: var(--DS-line-height-body-1-strong);
}

.medium-size .contact-form[b-c7b2clvh54] {
    --contacts-caption-font-size: var(--DS-font-size-subtitle-2);
    --contacts-caption-font-weight: var(--DS-font-weight-subtitle-2);
    --contacts-caption-line-height: var(--DS-line-height-subtitle-2);
}

.large-size .contact-form[b-c7b2clvh54] {
    --contacts-caption-font-size: var(--DS-font-size-subtitle-1);
    --contacts-caption-font-weight: var(--DS-font-weight-subtitle-1);
    --contacts-caption-line-height: var(--DS-line-height-subtitle-1);
}

[b-c7b2clvh54] .toolbar {
    margin-bottom: 1rem;
}

[b-c7b2clvh54] .contact-item {
    height: 2em;
    display: flex;
    align-items: center;
}

[b-c7b2clvh54] .user-avatar-item {
    margin: auto;
}

.user-avatar[b-c7b2clvh54] {
    display: flex;
    border: 1px solid var(--DS-color-border-neutral-default-rest);
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.small-size .user-avatar[b-c7b2clvh54] {
    max-width: 8.75rem;
    max-height: 8.75rem;
}

.medium-size .user-avatar[b-c7b2clvh54] {
    max-width: 10rem;
    max-height: 10rem;
}

.large-size .user-avatar[b-c7b2clvh54] {
    max-width: 11.25rem;
    max-height: 11.25rem;
}

.user-avatar img[b-c7b2clvh54] {
    max-width: 100%;
}

[b-c7b2clvh54] .caption {
    font-weight: 600;
}

[b-c7b2clvh54] .contacts-caption {
    font-size: var(--contacts-caption-font-size);
    line-height: var(--contacts-caption-line-height);
    font-weight: var(--contacts-caption-font-weight);
    margin-bottom: 1rem;
}

[b-c7b2clvh54] .edit-icon {
    mask-image: url("images/icons/edit.svg");
}

[b-c7b2clvh54] .w-100 {
    width: 100%;
}

.separator[b-c7b2clvh54] {
    margin: 0;
    color: inherit;
    border: 0;
    border-top: var(--DS-sizing-10) solid;
    opacity: var(--DS-opacity-25);
}

[b-c7b2clvh54] .text-danger {
    color: var(--DS-color-surface-danger-default-rest);
}
/* /Components/CRM/Shared/ContactDetails/EmployeeStatus.razor.rz.scp.css */
.status[b-o43mby33gx] {
    font-size: 0.9em;
}

    .status[b-o43mby33gx]::before {
        content: " ";
        display: inline-block;
        width: 0.6em;
        height: 0.6em;
        margin-right: 0.3rem;
        border-radius: 50%;
        background-color: currentColor;
    }

.status.status-salaried[b-o43mby33gx] {
    color: var(--DS-color-content-success-default-rest);
}

.status.status-commission[b-o43mby33gx] {
    color: var(--DS-color-content-info-default-rest);
}

.status.status-terminated[b-o43mby33gx] {
    color: var(--DS-color-content-danger-default-rest);
}
/* /Components/CRM/Shared/ContactDetails/Notes.razor.rz.scp.css */
[b-zzjbr60lh4] .notes {
    --dxbl-list-box-border-width: 0;
    width: 100%;
    height: fit-content;
}

.note[b-zzjbr60lh4] {
    font-family: var(--DS-font-family-sans-serif);
    font-weight: 400;
    box-shadow: 0 0.125rem 0.25rem 0 #00000024, 0 0 0.125rem 0 #0000001F;
    border-radius: 4px;
    margin-bottom: 0.625rem;
    padding: 0.5rem 0.625rem 0.5rem 0.625rem;
}

.note .note-header[b-zzjbr60lh4] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.note .note-header .note-title[b-zzjbr60lh4] {
    font-size: 0.85em;
    line-height: 1.15em;
    opacity: 0.8;
}

.note .note-text[b-zzjbr60lh4] {
    line-height: 1.5em;
}

.input-note[b-zzjbr60lh4] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem 0 1rem;
}

.add-button[b-zzjbr60lh4] {
    align-self: flex-end;
}

.w-100[b-zzjbr60lh4] {
    width: 100%;
}

.h-100[b-zzjbr60lh4] {
    height: 100%;
}
/* /Components/CRM/Shared/ContactDetails/Opportunities.razor.rz.scp.css */
.small-size .group-header[b-vssg7a3pbj] {
    font-size: var(--DS-font-size-body-1-strong);
    font-weight: var(--DS-font-weight-body-1-strong);
    line-height: var(--DS-line-height-body-1-strong);
}

.medium-size .group-header[b-vssg7a3pbj] {
    font-size: var(--DS-font-size-subtitle-2);
    font-weight: var(--DS-font-weight-subtitle-2);
    line-height: var(--DS-line-height-subtitle-2);
}

.large-size .group-header[b-vssg7a3pbj] {
    font-size: var(--DS-font-size-subtitle-1);
    font-weight: var(--DS-font-weight-subtitle-1);
    line-height: var(--DS-line-height-subtitle-1);
}

.opportunity[b-vssg7a3pbj] {
    font-family: var(--DS-font-family-sans-serif);
    border-radius: 0.25rem;
    padding: 1rem;
}

    .opportunity.active[b-vssg7a3pbj] {
        box-shadow: 0 0.125rem 0.25rem 0 #00000024, 0 0 0.125rem 0 #0000001F;
    }

    .opportunity.closed[b-vssg7a3pbj] {
        background-color: var(--DS-color-surface-neutral-subdued-rest);
    }

    .opportunity .opportunity-body[b-vssg7a3pbj] {
        cursor: pointer;
    }

        .opportunity .opportunity-body .name[b-vssg7a3pbj] {
            align-self: start;
        }

    .opportunity .product-info[b-vssg7a3pbj] {
        align-self: start;
        margin-bottom: 1rem;
    }

    .opportunity .owner[b-vssg7a3pbj] {
        align-self: end;
    }

.small-size .opportunity .opportunity-body[b-vssg7a3pbj] {
    font-size: var(--DS-font-size-caption-1);
    font-weight: var(--DS-font-weight-caption-1);
    line-height: var(--DS-line-height-caption-1);
}

.medium-size .opportunity .opportunity-body[b-vssg7a3pbj] {
    font-size: var(--DS-font-size-body-1);
    font-weight: var(--DS-font-weight-body-1);
    line-height: var(--DS-line-height-body-1);
}

.large-size .opportunity .opportunity-body[b-vssg7a3pbj] {
    font-size: var(--DS-font-size-body-2);
    font-weight: var(--DS-font-weight-body-2);
    line-height: var(--DS-line-height-body-2);
}

.small-size .opportunity .opportunity-body .name[b-vssg7a3pbj] {
    font-size: var(--DS-font-size-caption-1-strong);
    font-weight: var(--DS-font-weight-caption-1-strong);
    line-height: var(--DS-line-height-caption-1-strong);
    margin-bottom: 0.125rem;
}

.medium-size .opportunity .opportunity-body .name[b-vssg7a3pbj] {
    font-size: var(--DS-font-size-body-1-strong);
    font-weight: var(--DS-font-weight-body-1-strong);
    line-height: var(--DS-line-height-body-1-strong);
    margin-bottom: 0.25rem;
}

.large-size .opportunity .opportunity-body .name[b-vssg7a3pbj] {
    font-size: var(--DS-font-size-subtitle-2);
    font-weight: var(--DS-font-weight-subtitle-2);
    line-height: var(--DS-line-height-subtitle-2);
    margin-bottom: 0.375rem;
}

[b-vssg7a3pbj] .h-100 {
    height: 100%;
}
/* /Components/CRM/Shared/ContactDetails/Tasks.razor.rz.scp.css */
[b-bt83gz5aei] .tasks {
    border-radius: 0.25rem;
}
/* /Components/CRM/Shared/ContactList/ContactData.razor.rz.scp.css */
.small-size .contact-data[b-klpo4kwujy] {
    --accordion-item-margin-top: 0.5rem;
}

.medium-size .contact-data[b-klpo4kwujy] {
    --accordion-item-margin-top: 0.75rem;
}

.large-size .contact-data[b-klpo4kwujy] {
    --accordion-item-margin-top: 1rem;
}

[b-klpo4kwujy] .opportunity {
    box-shadow: 0 0.125rem 0.25rem 0 #00000024, 0 0 0.125rem 0 #0000001F;
    border-radius: 0.25rem;
    padding: 0.5em 1em;
}

    .opportunity .title[b-klpo4kwujy] {
        font-weight: 600;
    }

[b-klpo4kwujy] .list-box {
    --dxbl-list-box-border-width: 0;
    --dxbl-list-box-item-padding-x: 0;
    flex-shrink: 0;
    height: unset;
}

[b-klpo4kwujy] .accordion-item {
    margin-top: var(--accordion-item-margin-top);
}

[b-klpo4kwujy] .activity {
    font-family: var(--DS-font-family-sans-serif);
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border-left: 0.25rem solid var(--DS-primary-90);
    box-shadow: 0 0.125rem 0.25rem 0 #00000024, 0 0 0.125rem 0 #0000001F;
}

[b-klpo4kwujy] .name {
    overflow: hidden;
    text-overflow: ellipsis;
}

[b-klpo4kwujy] .info {
    opacity: 0.7;
}

[b-klpo4kwujy] .grid-item {
    display: flex;
    align-items: center;
}
/* /Components/CRM/Shared/ContactList/ContactForm.razor.rz.scp.css */
.user-avatar[b-5iu0ps7gx5] {
    width: 10rem;
    height: 10rem;
    display: flex;
    border: 0.0625rem solid var(--DS-color-border-neutral-default-rest);
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.small-size .user-avatar[b-5iu0ps7gx5] {
    width: 8.75rem;
    height: 8.75rem;
}

.medium-size .user-avatar[b-5iu0ps7gx5] {
    width: 10rem;
    height: 10rem;
}

.large-size .user-avatar[b-5iu0ps7gx5] {
    width: 11.25rem;
    height: 11.25rem;
}

.user-avatar img[b-5iu0ps7gx5] {
    max-width: 100%;
}

[b-5iu0ps7gx5] .label-icon {
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    display: block;
    mask-repeat: no-repeat;
    mask-position: center center;
    background-color: currentColor;
}

[b-5iu0ps7gx5] .edit-icon {
    mask-image: url("images/icons/edit.svg");
}

[b-5iu0ps7gx5] .contact-item {
    height: 2em;
    display: flex;
    align-items: center;
    width: 100%;
}

[b-5iu0ps7gx5] .caption {
    font-weight: 600;
}

a[b-5iu0ps7gx5] {
    color: var(--DS-color-content-primary-default-rest);
    text-decoration: underline;
}

[b-5iu0ps7gx5] .w-100 {
    width: 100%;
}

.separator[b-5iu0ps7gx5] {
    margin: 0;
    color: inherit;
    border: 0;
    border-top: var(--DS-sizing-10) solid;
    opacity: var(--DS-opacity-25);
}

[b-5iu0ps7gx5] .text-danger {
    color: var(--DS-color-surface-danger-default-rest);
}
/* /Components/CRM/Shared/ContactList/EmployeeStatus.razor.rz.scp.css */
.status[b-b5nwesioye] {
    font-size: 0.9em;
    margin-left: 1em;
}

    .status[b-b5nwesioye]::before {
        content: " ";
        display: inline-block;
        width: 0.6em;
        height: 0.6em;
        margin-right: 0.3rem;
        border-radius: 50%;
        background-color: currentColor;
    }

.status.status-salaried[b-b5nwesioye] {
    color: var(--DS-color-content-success-default-rest);
}

.status.status-commission[b-b5nwesioye] {
    color: var(--DS-color-content-info-default-rest);
}

.status.status-terminated[b-b5nwesioye] {
    color: var(--DS-color-content-danger-default-rest);
}

tr.dxbl-grid-focused-row .status[b-b5nwesioye] {
    color: inherit !important;
}
/* /Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-9qe40sz3le] {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header[b-9qe40sz3le] {
    padding: 0.625rem;
    box-shadow: 0 0.125rem 0.25rem 0 #00000024, 0 0 0.125rem 0 #0000001F;
    z-index: 103;
    background-color: var(--DS-color-surface-neutral-default-rest);
}

    .header .header-content[b-9qe40sz3le] {
        display: flex;
    }

.main[b-9qe40sz3le] {
    flex-grow: 1;
    overflow: auto;
}

    .main .main-content[b-9qe40sz3le] {
        height: 100%;
    }

.toolbar .title[b-9qe40sz3le] {
    color: var(--DS-color-content-neutral-default-rest);
    font-family: var(--DS-font-family-sans-serif);
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0 0.5rem;
    height: 100%;
}

.avatar-item[b-9qe40sz3le] {
    display: flex;
    align-items: center;
    cursor: pointer;
}

    .avatar-item .avatar-label[b-9qe40sz3le] {
        padding: 0.5rem;
    }

.small-size .toolbar .title[b-9qe40sz3le] {
    font-size: var(--DS-font-size-subtitle-2);
    line-height: var(--DS-line-height-subtitle-2);
}

.medium-size .toolbar .title[b-9qe40sz3le] {
    font-size: var(--DS-font-size-subtitle-1);
    line-height: var(--DS-line-height-subtitle-1);
}

.large-size .toolbar .title[b-9qe40sz3le] {
    font-size: var(--DS-font-size-title-3);
    line-height: var(--DS-line-height-title-3);
}

.content[b-9qe40sz3le] {
    margin: 0 auto;
}

    .main-content .module-content[b-9qe40sz3le] {
        padding: 1.5rem;
    }

.module-content[b-9qe40sz3le] {
    height: 100%;
    overflow: auto;
}

[b-9qe40sz3le] .main-menu {
    width: 19rem;
}

    [b-9qe40sz3le] .main-menu [role="treeitem"][aria-level="1"] {
        font-weight: 500;
    }

[b-9qe40sz3le] .main-menu-drawer {
    --dxbl-drawer-panel-body-padding-x: 1.5rem;
    --dxbl-drawer-panel-body-padding-y: 1.5rem;
}

[b-9qe40sz3le] .search-textbox {
    margin: auto 0;
}

[b-9qe40sz3le] .toolbar .search-textbox-item {
    max-width: 12.5rem;
}

[b-9qe40sz3le] .crm-icon {
    mask-image: url("images/icons/person.svg");
}

[b-9qe40sz3le] .planning-icon {
    mask-image: url("images/icons/calendar.svg");
}

[b-9qe40sz3le] .analytics-icon {
    mask-image: url("images/icons/data-histogram.svg");
}

[b-9qe40sz3le] .hamburger-icon {
    mask-image: url("images/icons/navigation.svg");
}

[b-9qe40sz3le] .cobra-icon {
    mask-image: url("images/icons/snake.svg");
}
/* /Components/Layout/Shared/AccountManager.razor.rz.scp.css */
.user-info[b-3pbhyzy98u] {
    width: max-content;
}

.display-name[b-3pbhyzy98u] {
    font-size: 1.3em;
    font-weight: 500;
}

.email[b-3pbhyzy98u] {
    color: var(--DS-color-content-neutral-subdued-rest);
}

.container[b-3pbhyzy98u] {
    width: 100%;
    height: 100%;
}

[b-3pbhyzy98u].small-size .user-avatar {
    width: 3.5rem;
    height: 3.5rem;
}

[b-3pbhyzy98u].medium-size .user-avatar {
    width: 4rem;
    height: 4rem;
}

[b-3pbhyzy98u].large-size .user-avatar {
    width: 4.5rem;
    height: 4.5rem;
}

.separator[b-3pbhyzy98u] {
    margin: 0;
    color: inherit;
    border: 0;
    border-top: var(--DS-sizing-10) solid;
    opacity: var(--DS-opacity-25);
}

[b-3pbhyzy98u] .button {
    padding-left: 0;
    padding-right: 0;
}

/* /Components/Layout/Shared/UserAvatar.razor.rz.scp.css */
.avatar-container[b-q6e9iiconh] {
    display: flex;
    border: 0.0625rem solid var(--DS-color-border-neutral-default-rest);
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

    .avatar-container:hover[b-q6e9iiconh] {
        cursor: pointer;
        border-color: var(--DS-color-border-primary-subdued-rest);
    }

    .avatar-container img[b-q6e9iiconh] {
        max-width: 100%;
    }

.no-hover[b-q6e9iiconh] {
    pointer-events: none;
}
/* /Components/Planning/Pages/Scheduler.razor.rz.scp.css */
[b-r322hgbxy7] .normal-view {
    height: inherit;
}

[b-r322hgbxy7] .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow-wrap: break-word;
    background-color: var(--DS-color-surface-neutral-default-rest);
    background-clip: border-box;
    border: var(--DS-border-radius-10) solid var(--DS-color-border-neutral-default-rest);
    border-radius: 0.25rem;
}

.compact-view[b-r322hgbxy7] {
    display: flex;
    height: 100%;
    justify-items: start;
}

[b-r322hgbxy7] .menu-button {
    height: fit-content;
    position: relative;
    top: 1em;
    left: 0.25em;
}

[b-r322hgbxy7] .settings {
    padding: 1em;
}

.h-100[b-r322hgbxy7] {
    height: 100%;
}
/* /Components/Planning/Shared/Settings.razor.rz.scp.css */
[b-ndvfgvf6qs] .settings-root {
    min-width: 22em;
}

[b-ndvfgvf6qs] .w-100 {
    width: 100%;
}
/* /Components/Planning/Shared/WorkTaskScheduler.razor.rz.scp.css */
[b-a1jvfjo6wq] .scheduler {
    --dxbl-scheduler-border-radius: 0.25rem;
    width: 100%;
    max-height: 100%;
}

[b-a1jvfjo6wq] .resource-0-bg {
    background-color: var(--DS-color-surface-utility-cyan-subdued-rest);
    border-color: var(--DS-color-surface-utility-cyan-subdued-rest);
    color: var(--DS-color-content-neutral-default-rest);
}

[b-a1jvfjo6wq] .resource-1-bg {
    background-color: var(--DS-color-surface-utility-green-subdued-rest);
    border-color: var(--DS-color-surface-utility-green-subdued-rest);
    color: var(--DS-color-content-neutral-default-rest);
}

[b-a1jvfjo6wq] .resource-2-bg {
    background-color: var(--DS-color-surface-utility-red-subdued-rest);
    border-color: var(--DS-color-surface-utility-red-subdued-rest);
    color: var(--DS-color-content-neutral-default-rest);
}

[b-a1jvfjo6wq] .resource-3-bg {
    background-color: var(--DS-color-surface-utility-yellow-subdued-rest);
    border-color: var(--DS-color-surface-utility-yellow-subdued-rest);
    color: var(--DS-color-content-neutral-default-rest);
}

[b-a1jvfjo6wq] .resource-4-bg {
    background-color: var(--DS-color-surface-utility-purple-subdued-rest);
    border-color: var(--DS-color-surface-utility-purple-subdued-rest);
    color: var(--DS-color-content-neutral-default-rest);
}

[b-a1jvfjo6wq] .resource-0-text {
    color: var(--DS-color-content-neutral-default-rest);
}

[b-a1jvfjo6wq] .resource-1-text {
    color: var(--DS-color-content-neutral-default-rest);
}

[b-a1jvfjo6wq] .resource-2-text {
    color: var(--DS-color-content-neutral-default-rest);
}

[b-a1jvfjo6wq] .resource-3-text {
    color: var(--DS-color-content-neutral-default-rest);
}

[b-a1jvfjo6wq] .resource-4-text {
    color: var(--DS-color-content-neutral-default-rest);
}

.h-100[b-a1jvfjo6wq] {
    height: 100%;
}
/* /Components/WORK/Pages/InvalidUser.razor.rz.scp.css */
.main-content[b-youi15o0bg] {
    display: flex;
    height: 100%;
}

.block-content[b-youi15o0bg] {
    border-radius: 0.5rem;
    flex-grow: 0;
    margin: auto;
    padding: 1.5rem;
    width: auto;
}

.title[b-youi15o0bg] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.625rem;
    color: var(--DS-color-content-neutral-default-rest);
}

    .title .title-header-text[b-youi15o0bg] {
        font-family: var(--DS-font-family-title-2);
        font-size: var(--DS-font-size-title-2);
        font-weight: var(--DS-font-weight-title-2);
        line-height: var(--DS-line-height-title-2);
        letter-spacing: var(--DS-letter-spacing-title-2);
    }

.card[b-youi15o0bg] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow-wrap: break-word;
    background-color: var(--DS-color-surface-neutral-default-rest);
    background-clip: border-box;
    border: var(--DS-border-radius-10) solid var(--DS-color-border-neutral-default-rest);
    border-radius: 0.25rem;
}
/* /Components/WORK/Shared/WorkRequestDetails/WorkRequestForm.razor.rz.scp.css */
.small-size .contact-form[b-oxmdmi6bje] {
    --contacts-caption-font-size: var(--DS-font-size-body-1-strong);
    --contacts-caption-font-weight: var(--DS-font-weight-body-1-strong);
    --contacts-caption-line-height: var(--DS-line-height-body-1-strong);
}

.medium-size .contact-form[b-oxmdmi6bje] {
    --contacts-caption-font-size: var(--DS-font-size-subtitle-2);
    --contacts-caption-font-weight: var(--DS-font-weight-subtitle-2);
    --contacts-caption-line-height: var(--DS-line-height-subtitle-2);
}

.large-size .contact-form[b-oxmdmi6bje] {
    --contacts-caption-font-size: var(--DS-font-size-subtitle-1);
    --contacts-caption-font-weight: var(--DS-font-weight-subtitle-1);
    --contacts-caption-line-height: var(--DS-line-height-subtitle-1);
}

[b-oxmdmi6bje] .toolbar {
    margin-bottom: 1rem;
}

[b-oxmdmi6bje] .contact-item {
    height: 2em;
    display: flex;
    align-items: center;
}

[b-oxmdmi6bje] .user-avatar-item {
    margin: auto;
}

.user-avatar[b-oxmdmi6bje] {
    display: flex;
    border: 1px solid var(--DS-color-border-neutral-default-rest);
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.small-size .user-avatar[b-oxmdmi6bje] {
    max-width: 8.75rem;
    max-height: 8.75rem;
}

.medium-size .user-avatar[b-oxmdmi6bje] {
    max-width: 10rem;
    max-height: 10rem;
}

.large-size .user-avatar[b-oxmdmi6bje] {
    max-width: 11.25rem;
    max-height: 11.25rem;
}

.user-avatar img[b-oxmdmi6bje] {
    max-width: 100%;
}

[b-oxmdmi6bje] .caption {
    font-weight: 600;
}

[b-oxmdmi6bje] .contacts-caption {
    font-size: var(--contacts-caption-font-size);
    line-height: var(--contacts-caption-line-height);
    font-weight: var(--contacts-caption-font-weight);
    margin-bottom: 1rem;
}

[b-oxmdmi6bje] .edit-icon {
    mask-image: url("images/icons/edit.svg");
}

[b-oxmdmi6bje] .w-100 {
    width: 100%;
}

.separator[b-oxmdmi6bje] {
    margin: 0;
    color: inherit;
    border: 0;
    border-top: var(--DS-sizing-10) solid;
    opacity: var(--DS-opacity-25);
}

[b-oxmdmi6bje] .text-danger {
    color: var(--DS-color-surface-danger-default-rest);
}
/* /Components/WORK/Shared/WorkRequestList/WorkRequestData.razor.rz.scp.css */
.small-size .contact-data[b-pghjojsue4] {
    --accordion-item-margin-top: 0.5rem;
}

.medium-size .contact-data[b-pghjojsue4] {
    --accordion-item-margin-top: 0.75rem;
}

.large-size .contact-data[b-pghjojsue4] {
    --accordion-item-margin-top: 1rem;
}

[b-pghjojsue4] .opportunity {
    box-shadow: 0 0.125rem 0.25rem 0 #00000024, 0 0 0.125rem 0 #0000001F;
    border-radius: 0.25rem;
    padding: 0.5em 1em;
}

    .opportunity .title[b-pghjojsue4] {
        font-weight: 600;
    }

[b-pghjojsue4] .list-box {
    --dxbl-list-box-border-width: 0;
    --dxbl-list-box-item-padding-x: 0;
    flex-shrink: 0;
    height: unset;
}

[b-pghjojsue4] .accordion-item {
    margin-top: var(--accordion-item-margin-top);
}

[b-pghjojsue4] .activity {
    font-family: var(--DS-font-family-sans-serif);
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border-left: 0.25rem solid var(--DS-primary-90);
    box-shadow: 0 0.125rem 0.25rem 0 #00000024, 0 0 0.125rem 0 #0000001F;
}

[b-pghjojsue4] .name {
    overflow: hidden;
    text-overflow: ellipsis;
}

[b-pghjojsue4] .info {
    opacity: 0.7;
}

[b-pghjojsue4] .grid-item {
    display: flex;
    align-items: center;
}
/* /Components/WORK/Shared/WorkRequestList/WorkRequestForm.razor.rz.scp.css */
.user-avatar[b-y06yuv16p9] {
    width: 10rem;
    height: 10rem;
    display: flex;
    border: 0.0625rem solid var(--DS-color-border-neutral-default-rest);
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.small-size .user-avatar[b-y06yuv16p9] {
    width: 8.75rem;
    height: 8.75rem;
}

.medium-size .user-avatar[b-y06yuv16p9] {
    width: 10rem;
    height: 10rem;
}

.large-size .user-avatar[b-y06yuv16p9] {
    width: 11.25rem;
    height: 11.25rem;
}

.user-avatar img[b-y06yuv16p9] {
    max-width: 100%;
}

[b-y06yuv16p9] .label-icon {
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    display: block;
    mask-repeat: no-repeat;
    mask-position: center center;
    background-color: currentColor;
}

[b-y06yuv16p9] .edit-icon {
    mask-image: url("images/icons/edit.svg");
}

[b-y06yuv16p9] .contact-item {
    height: 2em;
    display: flex;
    align-items: center;
    width: 100%;
}

[b-y06yuv16p9] .caption {
    font-weight: 600;
}

a[b-y06yuv16p9] {
    color: var(--DS-color-content-primary-default-rest);
    text-decoration: underline;
}

[b-y06yuv16p9] .w-100 {
    width: 100%;
}

.separator[b-y06yuv16p9] {
    margin: 0;
    color: inherit;
    border: 0;
    border-top: var(--DS-sizing-10) solid;
    opacity: var(--DS-opacity-25);
}

[b-y06yuv16p9] .text-danger {
    color: var(--DS-color-surface-danger-default-rest);
}
/* /Components/WORK/Shared/WorkRequestList/WorkRequestStatus.razor.rz.scp.css */
.status[b-d0f7sk0xgk] {
    font-size: 0.9em;
    margin-left: 1em;
}

    .status[b-d0f7sk0xgk]::before {
        content: " ";
        display: inline-block;
        width: 0.6em;
        height: 0.6em;
        margin-right: 0.3rem;
        border-radius: 50%;
        background-color: currentColor;
    }

.status.status-salaried[b-d0f7sk0xgk] {
    color: var(--DS-color-content-success-default-rest);
}

.status.status-commission[b-d0f7sk0xgk] {
    color: var(--DS-color-content-info-default-rest);
}

.status.status-terminated[b-d0f7sk0xgk] {
    color: var(--DS-color-content-danger-default-rest);
}

.status.status-inprogress[b-d0f7sk0xgk] {
    color: var(--DS-color-content-warning-default-rest);
}

tr.dxbl-grid-focused-row .status[b-d0f7sk0xgk] {
    color: inherit !important;
}
