@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

@if (HttpContext is null) {
    <p>Loading...</p>
} else {
    <DxStackLayout Orientation="Orientation.Vertical" CssClass="w-100">
        <Items>
            <DxStackLayoutItem> 
                <Template>
                <div class="logo">
                    <img src="images/cobra_logo.png" alt="Logo" />
                </div>
                </Template>
            </DxStackLayoutItem>
            <DxStackLayoutItem Length="auto">
                <Template>
                    <div class="title">
                        <div class="title-text">Cobra Partner Portal</div>
                    </div>
                </Template>
            </DxStackLayoutItem>
            <DxStackLayoutItem Length="1fr">
                <Template>
                    @Body
                </Template>
            </DxStackLayoutItem>
        </Items>
    </DxStackLayout>
}

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override void OnParametersSet() {
        if (HttpContext is null) {
            // If this code runs, we're currently rendering in interactive mode, so there is no HttpContext.
            // The identity pages need to set cookies, so they require an HttpContext. To achieve this we
            // must transition back from interactive mode to a server-rendered page.
            NavigationManager.Refresh(forceReload: true);
        }
    }
}
