.content-root[b-qc9da2y0j3] {
    height: 100%;
    display: flex;
    flex-direction: column;
}
    .content-root .contact-details[b-qc9da2y0j3] {
        flex-grow: 1;
    }

.toolbar[b-qc9da2y0j3] {
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
}

    .toolbar .title[b-qc9da2y0j3] {
        font-size: var(--dxbl-toolbar-title-font-size);
        line-height: var(--dxbl-toolbar-title-line-height);
        font-weight: var(--dxbl-toolbar-title-font-weight);
        margin: auto 0;
    }

    .toolbar .custom-item[b-qc9da2y0j3] {
        display: flex;
        height: 100%;
        margin: 0 0.5rem;
    }

[b-qc9da2y0j3] .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow-wrap: break-word;
    background-color: var(--DS-color-surface-neutral-default-rest);
    background-clip: border-box;
    border: var(--DS-border-radius-10) solid var(--DS-color-border-neutral-default-rest);
    border-radius: 0.25rem;
}

[b-qc9da2y0j3] .card:not(.toolbar) {
    padding: 1.5rem;
}

[b-qc9da2y0j3] .tabs {
    padding-top: 0.5rem !important;
    height: 100%;
}

[b-qc9da2y0j3] .tab-page {
    margin-bottom: 0.625rem;
}

[b-qc9da2y0j3] .h-100 {
    height: 100%;
}
