.block-content[b-i14ji0tnok] {
    border-radius: 0.5rem;
    flex-grow: 0;
    margin: auto;
    max-width: 30rem;
    padding: 1.5rem;
    width: auto;
}

[b-i14ji0tnok] .w-100 {
    width: 100%;
}

[b-i14ji0tnok] .text-danger {
    color: var(--DS-color-surface-danger-default-rest);
}
