.block-content[b-2bmkax9tub] {
    border-radius: 0.5rem;
    flex-grow: 0;
    margin: auto;
    max-width: 30rem;
    padding: 1.5rem;
    width: auto;
}

.title[b-2bmkax9tub] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 0.625rem;
}

    .title.title-secondary[b-2bmkax9tub] {
        padding-top: 0.313rem;
        padding-bottom: 0;
        color: var(--DS-color-content-neutral-subdued-rest);
    }

    .title .title-content-text-secondary[b-2bmkax9tub] {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

.button-group[b-2bmkax9tub] {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
}

[b-2bmkax9tub] .button-link {
    text-decoration: unset;
}

[b-2bmkax9tub] a {
    color: var(--DS-color-content-primary-default-rest);
    text-decoration: underline;
}

[b-2bmkax9tub] .w-100 {
    width: 100%;
}

.alert[b-2bmkax9tub] {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

    .alert.alert-danger[b-2bmkax9tub] {
        color: var(--DS-color-content-danger-default-rest);
        background-color: var(--DS-color-surface-danger-subdued-rest);
        border-color: var(--DS-color-border-danger-default-rest);
    }

    .alert.alert-warning[b-2bmkax9tub] {
        color: var(--DS-color-content-danger-warning-rest);
        background-color: var(--DS-color-surface-warning-subdued-rest);
        border-color: var(--DS-color-border-warning-default-rest);
    }
